{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block content %}
{% load static %}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
  <div class="text-center pt-4">
    <h1 style="font-weight: bolder;" class="m">
      Make An Appointment
    </h1>
  </div>
  <div class="pt-5">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
          aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
          aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
          aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
          aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7"
          aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8"
          aria-label="Slide 9"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://www.sunrisehospitalcochin.com/_next/image?url=https%3A%2F%2Fadmin.sunrisehospitalcochin.com%2Fuploads%2Fbanner%2Fworldsraresurgerysavesmotherchild1920800px1-q1l6fqLkyKBsgWf.jpg&w=1920&q=75"
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img
            src="https://www.sunrisehospitalcochin.com/_next/image?url=https%3A%2F%2Fadmin.sunrisehospitalcochin.com%2Fuploads%2Fbanner%2F1920-x-8003-LI9z8pm1A9yfRHJ.jpg&w=1920&q=75"
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img
            src="https://www.sunrisehospitalcochin.com/_next/image?url=https%3A%2F%2Fadmin.sunrisehospitalcochin.com%2Fuploads%2Fbanner%2Fwb1-y7lRSkoJgds9iGa.jpg&w=1920&q=75"
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img
            src="https://www.sunrisehospitalcochin.com/_next/image?url=https%3A%2F%2Fadmin.sunrisehospitalcochin.com%2Fuploads%2Fbanner%2Fwb2-9sLC8Eg2cegc0w7.jpg&w=1920&q=75"
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img
            src="https://www.sunrisehospitalcochin.com/_next/image?url=https%3A%2F%2Fadmin.sunrisehospitalcochin.com%2Fuploads%2Fbanner%2Fwb3-F9DLAsz17DEYwaV.jpg&w=1920&q=75"
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img
            src="https://www.sunrisehospitalcochin.com/_next/image?url=https%3A%2F%2Fadmin.sunrisehospitalcochin.com%2Fuploads%2Fbanner%2Fwb5-KR8Ge9LAkCadyu2.jpg&w=1920&q=75"
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img
            src="https://www.sunrisehospitalcochin.com/_next/image?url=https%3A%2F%2Fadmin.sunrisehospitalcochin.com%2Fuploads%2Fbanner%2Fwb6-7PXwKekHw6o4aSQ.jpg&w=1920&q=75"
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img
            src="https://www.sunrisehospitalcochin.com/_next/image?url=https%3A%2F%2Fadmin.sunrisehospitalcochin.com%2Fuploads%2Fbanner%2Fwb7-NLJpANv2cDq9HoP.jpg&w=1920&q=75"
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img
            src="https://www.sunrisehospitalcochin.com/_next/image?url=https%3A%2F%2Fadmin.sunrisehospitalcochin.com%2Fuploads%2Fbanner%2Fimg-20210218-wa0026-0OXYWys9glJeeM3.jpg&w=1920&q=75"
            class="d-block w-100" alt="...">
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>


  <div class=" pb-5 pt-5 mx-auto w-50 col-xl-3-sm-4 ">
    <h1 style="font-weight: bolder;" class="text-center text-secondary">Centre of Excellence</h1>
    <p>
    <h5 class="text-center text-secondary">
      Sunrise hospital, a tertiary health care centre, is widely recognized as a pioneer in 'Laparoscopic and Endoscopic
      Surgeries'. Being the Apex Centre for Minimally Invasive Surgery in Asia, we have also been honored as a Centre of
      excellence in 'Hernia Surgeries and Laparoscopic cancer Surgeries'. Specialized in 'Accident and Trauma care', we
      are ably equipped with state-of-the-art treatment for all types of medical emergencies.
    </h5>
    </p>
  </div>
  <div>
    {% for d in doctors %}
    <div style="justify-content: space-between;" class="row row-cols-1 col-lg-4 g-4 pb-5 mb-5 ms-3 ">
      <div style="height: 35em;" class="card bg-light pb-5">
        <div class="pt-0px">
          <h4 style="font-weight: bolder;" class="text-dark">
            {{d.dep_name}}
          </h4>
        </div>
        <img style="height: 250px;" src="{{d.doc_image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 style="font-weight: bold;" class="card-title text-info">{{d.doc_name}}</h4>
          <h5 class="subtitle text-dark">{{d.doc_spec}}</h5>
          <hr style="width: 100%;">
          <div style="justify-content: space-between; display: flex;">
            <h5>
              <a href="{% url 'booking' %}" style="text-decoration: none;">Make An Appointment</a>
            </h5>
            {% if d.doc_name == "Dr. Mark Cloe"%}
            <h5>
              <a href="{% url 'markcloe' %}" style="text-decoration: none;">About</a>
            </h5>
            {% endif %}
            {% if d.doc_name == "Dr. Afreen Zain"%}
            <h5>
              <a href="{% url 'afreen' %}" style="text-decoration: none;">About</a>
            </h5>
            {% endif %}
            {% if d.doc_name == "Dr. Simon Gabriel"%}
            <h5>
              <a href="{% url 'simon' %}" style="text-decoration: none;">About</a>
            </h5>
            {% endif %}
            {% if d.doc_name == "Dr. Clara Dzousa"%}
            <h5>
              <a href="{% url 'clara' %}" style="text-decoration: none;">About</a>
            </h5>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class=" pb-5 pt-5 mx-auto w-50 ">
    <h1 style="font-weight: bolder;" class="text-center text-secondary">Other Speciality</h1>
    <p>
    <h5 class="text-center text-secondary">
      We accommodate more than 40 medical departments and specialties. Sunrise Hospital has branches across kerala at
      Changamkulam, Kanhangad and Kasaragod. Aesthetically laid out, this hospital is maintained under very stringent
      conditions of asepsis that ensures a clean infection-free environment which is at the same time extremely warm,
      caring and relaxing.
    </h5>
    </p>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>
{% endblock %}